/*RESET CSS BEGIN*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* FONTS */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

* {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 20px 0;
    color: #3d3d3d;
}

ul li,
ol li {
    margin-bottom: 10px;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Montserat', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 65px;
    padding: 20px 0 40px 0;
}

h2 {
    font-size: 45px;
    line-height: 48px;
    margin-bottom: 35px;
}

h3 {
    font-size: 25px;
    line-height: 30px;
}


a {
    text-decoration: none;
    color: black;
}

a:focus, a:visited, a:hover{
    outline: none;
    box-shadow: none;
}

input[type="submit"] {
    -webkit-appearance: none;
}

/*--------------helper class-------------------*/

.align--right {
    float: right;
}

.align--left {
    float: left;
}

.txt--white {
    color: white;
}

.w--light {
    font-weight: 300;
}

.w--medium {
    font-weight: 500;
}

.w--semibold{
    font-weight: 600;
}

.w--black {
    font-weight: 900;
}

.letter-spacing--1 {
    letter-spacing: 1px;
}

.txt--center {
    text-align: center;
}

.txt--right {
    text-align: right;
}

.text--darkred {
    color: darkred;
}

.bg--darkred {
    background-color: darkred;
}

.bg--white {
    background-color: #ffffff;
}

.txt--uppercase {
    text-transform: uppercase;
}

.txt--capitalize {
    text-transform: capitalize;
}

.txt--underline {
    text-decoration: underline;
}

.d--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap row;
    flex-flow: wrap row;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*btn style*/

.btn {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 25px;
}

.btn:focus, .btn:active, .btn:hover{
    outline: none;
}

.btn--red, .btn--red:focus, .btn--red:visited {
    background-color: darkred;
    color: #fff;
    border: 2px solid darkred;
}

.btn--red:hover{
    background-color: #fff;
    color: darkred;
}

.btn--red-inverse{
    border: 2px solid darkred;
    background-color: transparent;
    color: darkred;
}

.btn--red-inverse:hover{
    background-color: darkred;
    color: #fff;
}

.btn-home {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}

.btn-track{
    padding: 10px;
    max-width:250px;
    width:100%;
}

.btn--full{
    width: 100%;
    padding: 15px;
    margin-top:10px;
}

.btn-link {
    padding: 5px;
    width: auto;
    display: inline-block;
    color: darkred;
    text-decoration: none;
    position: relative;
}

.btn-link:hover{
    color: darkred;
    text-decoration: none;
}

.btn-link:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: darkred;
    transform: scale(0,0);
    transition: transform 0.3s ease-in-out;
}

.btn-link:hover:after{
    transform: scale(1,1);
}

/*navigation style*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.34);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: darkred;
}

.logo-container{
    max-width: 120px;
    width: 100%;
}

.logo__img{
    display: block;
    width:100%;
}

.menu__list{
    list-style: none;
}

.menu__list__item{
    display: inline-block;
    padding: 20px;
    margin-bottom: 0;
}

.menu__list__item a{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.menu__list__item a:hover{
    text-decoration: none;
}


.container--bg {
    background: url("Images/background.jpg") center no-repeat;
    z-index: 0;
    background-attachment: fixed;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 0;
    pointer-events: none;
}


/*global style of body content*/
.body-content {
    min-height: calc(100vh - 65px);
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 130px 20px 20px 20px;
    z-index: 10;
    background-color: rgba(255,255,255,0.95);
}


/*footer style*/
footer {
    background-color: #000;
    padding: 20px 0;
}

footer p {
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}


/*home page style*/

.particle-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: darkred;
    padding: 100px 20px 20px 20px;
}

.particle-container.hidden{
    display: none;
}

.particle-style {
    width: 100%;
    height: 100%;
}

.particle-txt{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.arrow-down{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.arrow-down i{
    font-size: 70px;
}

.row.flex {
    display: flex;
    flex-flow: wrap row;
}

.align-items-center{
    align-items: center;
}

.box{
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
}


.box-content{
    text-align: center;
    padding: 0 50px;
}

.img-container{
    text-align: center;
}

.home-img{
    max-width: 400px;
    width: 100%;
}

.line-under:after{
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: darkred;
    margin: 10px auto 40px auto;
}

.line-under.left:after{
    margin: 10px 0 40px 0;
}

.line-under--gray:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d2d2d2;
    margin: 10px auto 40px auto;
}

.line-under--gray.normal:after{
    margin: 40px auto;
}


/*carousel style*/

.carousel{
    margin: -40px -20px -20px -20px;
    background-color: #000;
}

/*filter*/

.filter {
    margin: -40px -20px 0 -20px;
}

.input-container{
    position: relative;
}

.input-search{
    width: 100%;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    padding: 30px 80px; 
    font-size: 18px;
    line-height: 23px;
}

.search-label{
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 1px;
    left: 20px;
    border: none;
    box-shadow: none;
    background-color:#fff;
}

.search-label i{
    font-size: 30px;
    color: darkred;
}

.btn-submit {
    position: absolute;
    top: -1px;
    bottom: 1px;
    right: 0;
    border: none;
    box-shadow: none;
    background-color: darkred;
    padding: 0 30px;
}

.btn-submit i{
    color: #fff;
    font-size: 30px;
}

/*radio buttons style*/

.radio-container{
    padding: 20px;
}

.radio-group{
    position: relative;
    display: inline-block;
    padding: 10px 30px 10px 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: darkred;
    text-transform: uppercase;
    font-weight: 500;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 2px solid darkred;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 15px;
    height: 15px;
    background: darkred;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*checkbox style*/

/*radio buttons style*/

.check-group {
    position: relative;
    display: inline-block;
    padding: 0 30px 0 0;
}

.check-group [type="hidden"]{
    display: none;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: darkred;
    text-transform: uppercase;
    font-weight: 500;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 2px solid darkred;
    border-radius: 3px;
    background: #fff;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 15px;
    height: 15px;
    background: darkred;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*dropdown style*/

.filter-items-container{
    display: flex;

}

.dropdown {
    display: inline-block;
    padding: 20px 30px 20px 20px;
}

.dropdown-menu {
    position: absolute;
    top: 65px;
    left: 20px; 
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 2px solid darkred;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu li{
    margin-bottom:0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px 10px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
    border-bottom: 1px solid darkred;
    transition: all 0.3s ease-in-out;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus{
    background-color: darkred;
    color: #fff;
}
    
.dropdown.open .btn-dropdown {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-dropdown{
    width: 200px;
    /*width: 100%;*/
    padding: 10px;
    border: 2px solid darkred;
    background-color: #fff;
    color: darkred;
}

.btn-dropdown i{
    transition: all 0.3s ease-in-out;
}

.btn-dropdown:hover{
    background-color: darkred;
    color: #fff;
}

.btn-dropdown:hover i{
    color: #fff;
}

/*listed shows from database*/

.flex--column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listed-item__img {
    border-radius: 5px;
    /*min-height: 270px;*/
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
}

.show-title{
    display: inline-block;
    margin-bottom: 0;
}

.show-description{
    width:80%;
}

.rating{
    position: absolute;
    top: -15px;
    right: 30px;
}

.rating i{
    font-size: 20px;
    color: gold;
}


/*contact page*/

.social-icons-container{
    width: 100%;
}

.social-icons{
    padding: 10px;   
    transition: all 0.3s ease-in-out;
}

.social-icons i {
    font-size: 40px;
}

.social-icons.facebook{
    color: blue;
}

.social-icons.facebook:hover{
    color:darkblue;
}

.social-icons.twitter{
    color: dodgerblue;
}

.social-icons.twitter:hover{
    color: darkblue;
}

.social-icons.skype{
    color: dodgerblue;
}

.social-icons.skype:hover{
    color: darkblue;
}
.social-icons.instagram{
    color: deeppink;
}
.social-icons.instagram:hover{
    color:hotpink;
}
.form-group label{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight:500;
    margin-bottom: 10px;
}

.form-group input::-webkit-input-placeholder, .form-group textarea::-webkit-input-placeholder{
    text-transform: uppercase;
}

.input-background{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index:2;
}

.input-background i{
    color: #d2d2d2;
    font-size: 25px;
}

.input-style {
    font-family: 'Roboto', sans-serif;
    height: auto;
    padding: 15px 20px 15px 60px;
}

textarea.form-control {
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    padding: 20px;
}

/*login/register forms*/

.login-box {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 40px;
    position: relative;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.34);
}
.validation-summary-errors, .field-validation-error {
    background-color: darkred;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    max-width: 300px;
    width: 100%;
}

.validation-summary-errors {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.field-validation-error {
    right: -90%;
    top: 5px;
}
    
.validation-summary-errors li, .field-validation-error span {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
}

.validation-summary-valid.arrow-left {
    opacity: 0;
}

.validation-summary-errors.arrow-left{
    opacity: 1;
}

.arrow-left:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid darkred;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}


/*tracker / calendar*/
.watched-items {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    padding: 0 20px;
    margin-left: -20px;
}

.items-box{
    border: 2px solid darkred;
    border-radius: 5px;
    background-color: #fff;
}

.items-header{
    width: 100%;
    background-color: darkred;
    color: #fff;
    padding:10px;
}

.items-content{
    color: darkred;
    padding: 10px;
    margin-bottom: 0;
    position: relative;
}

.btn-check {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 3px 6px;
    border-radius:3px;
}

/*calendar style*/

.calendar {
    display: flex;
    flex-wrap: nowrap;
    margin: -41px -20px 0 -20px;
    background-color: #fff;
    border-bottom: 1px solid darkred;
    margin-bottom: 30px;
    border-top: 1px solid #fff;
}

.calendar-day {
    flex: 1 1 0;
}

.calendar-day:not(:first-child) .calendar-header {
    border-left: 1px solid #fff;
}

.calendar-header{
    background-color: darkred;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

.calendar-show{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}