@{
    ViewBag.Title = "ShowReel";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-6">
        <h4>
            Tired of missing episodes of your favorite shows because you didn't know that aired?
            Tired of conversations with friends who've watched the latest episode of your favorite show and spoil it for you?
            Tired of hearing news about shows last?
            Tired of spending hours of thinking what to watch next?
        </h4>
        <h4>
            We want to give the answer to all of those questions with this site. You can find your favorite shows,
            you can keep track of all the episodes of the shows you are watching. You can read news concerning those shows.
            You can have a personalized calendar that shows you when the next episode airs!
        </h4>
        <h3>
            We hope you enjoy it! Have a great time using this site!
        </h3>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <img src="../../Content/Images/movie-reels-and-popcorn.png" class="img-responsive" />
    </div>
</div>