@model IEnumerable<ShowReel.Models.News>

@{
    ViewBag.Title = "News";
}

<div class="filter line-under--gray">
    <form method="get">
        <div class="input-container">
            <label class="search-label"><i class="fa fa-search"></i></label>
            <input type="search" name="keyword" id="search" class="input-search" />
            <button type="submit" value="Search" class="btn-submit"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="radio-container">
            <div class="radio-group">
                <input type="radio" name="type" id="radio-1" value="newest">
                <label for="radio-1">Newest First</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="type" id="radio-2" value="keyword">
                <label for="radio-2">Keyword Search</label>
            </div>
        </div>
    </form>
</div>

@foreach (var item in Model) {
    <div class="row flex line-under--gray normal">
        <div class="col-md-4">
            <div class="listed-item__img" style="background:url(../Content/Images/@item.Image) no-repeat center; background-size: cover;"></div>
        </div>
        <div class="col-md-8 flex--column">
            <h2 class="show-title line-under left"> @Html.DisplayFor(modelItem => item.Name)</h2>
            <p>  @Html.DisplayFor(modelItem => item.Description)</p>
            <a class="btn btn--red-inverse btn-track news" href="@Html.DisplayFor(modalItem => item.Link)" >Read more</a>
        </div>
    </div>
}

